

/* --- ############# xxx ############# --- */
*{
  box-sizing: border-box;
}

/* --- ############# TMPs ############# --- */
h1,h2,h3,h4,.logo-font{
font-family: "", sans-serif;
}

pre,code,.mono{
 font-family: monospace;
}

body{
font-family: 'Old Standard TT', serif;
}

/* --- ############# xxx ############# --- */
.color-main{color: #;}
.color-alt{color: #;}
.color-bg{color: #;}

/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


/* --- ############# 

FSS
main 34345dff
alt d5d5e8ff

Old standard TT
 ############# --- */


